<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>Init</servlet-name>
    <servlet-class>servlet.Init</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Range</servlet-name>
    <servlet-class>servlet.Range</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>servlet.Insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>servlet.Delete</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>Init</servlet-name>
    <url-pattern>/servlet/Init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Range</servlet-name>
    <url-pattern>/servlet/Range</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/servlet/Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/servlet/Delete</url-pattern>
  </servlet-mapping>

</web-app>