<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="./angular.min.js"></script> 
    </head>
    <body>
        <div id="main" ng-app="admin" ng-controller="main">
            <script>
                var app = angular.module("admin", []);
                var subtitles = ['LIST', 'DETAIL', 'UPDATE', 'NEW'];
            </script>
            <div id="listtitle">
                <h1>{{ conf.title }} {{ subtitle }}</h1>
            </div>
            <div id="list" ng-show="view==0">
                <div id="listquery" ng-controller="listquery">
                    <table>
                        <tr ng-repeat="column in conf.columns" ng-show="column.isSelect">
                            <td>{{ column.name }}</td>
                            <td><input type=text ng-disabled="disabled" ng-model="query[column.id]"></td>
                        </tr>
                        <tr>
                            <td><button ng-disabled="disabled" ng-click="search()">SEARCH</button></td>
                            <td><button ng-disabled="disabled" ng-click="new()">NEW</button></td>
                        </tr>
                    </table>
                </div>
                <script>
                    app.controller(
                        "listquery",
                        function($scope, $rootScope, $http) {
                            $scope.query = {};
                            $scope.search = function() {
                                data = [];
                                console.log("search...");
                                for (var i=0; i<$scope.conf.columns.length; i++) {
                                    if ($scope.conf.columns[i].isShow) {
                                        data.push($scope.conf.columns[i].id);
                                    }
                                }
                                //url = "./list.jsp?table=" + $scope.conf.table + "&data=" + JSON.stringify(data) + "&query=" + JSON.stringify($scope.query);
                                //range = "&begin=0&end=" + $scope.conf.count;
                                url = "./list.json";
                                range = "";
                                $rootScope.queryurl = url;
                                console.log("url" + url + range);
                                $scope.disabled = true;
                                $http.get(url+range).success(
                                    function(response) {
                                        $scope.disabled = false;
                                        $rootScope.listcontent = response.data;
                                    }
                                );
                            }
                            $scope.new = function() {
                                $rootScope.view = 3;
                                $rootScope.subtitle = subtitles[$rootScope.view];
                            }
                        }
                    )
                </script>
                <div id="listcontent">
                    <table>
                        <tr>
                            <td ng-repeat="column in conf.columns" ng-show="column.isShow">
                                {{ column.name }}
                            </td>
                            <td>
                            OPERARION
                            </td>
                        </tr>
                        <tr id = "listcontentrow" ng-repeat="row in listcontent" ng-controller="listcontentrow">
                            <td ng-repeat="column in conf.columns" ng-show="column.isShow">
                                {{ column.control < 2 ? row[column.index] : row[column.index] + "-" + candidate[column.id][row[column.index]] }}
                            </td>
                            <td>
                                <button ng-disabled="disabled" ng-click="detail()">DETAIL</button>
                                <button ng-disabled="disabled" ng-click="update()">UPDATE</button>
                                <button ng-disabled="disabled" ng-click="delete()">DELETE</button>
                            </td>
                        </tr>
                        <script>
                            app.controller(
                                "listcontentrow",
                                function($scope, $rootScope, $http) {
                                    $scope.detail = function() {
                                        data = [];
                                        query = {};
                                        console.log("detail...");
                                        for (var i=0; i<$scope.conf.columns.length; i++) {
                                            data.push($scope.conf.columns[i].id);
                                            if ($scope.conf.columns[i].isPrimaryKey) {
                                                query[$scope.conf.columns[i].id] = $scope.row[$scope.conf.columns[i].index];
                                            }
                                        }
                                        //url = "./detail.jsp?table=" + $scope.conf.table + "&data=" + JSON.stringify(data) + "&query=" + JSON.stringify(query) + "&begin=1&end=1";
                                        url = "./detail.json"
                                        console.log("url" + url);
                                        $scope.disabled = true;
                                        $http.get(url).success(
                                            function(response) {
                                                $scope.disabled = false;
                                                $rootScope.detailcontent = response.data[0];
                                                $rootScope.view = 1;
                                                $rootScope.subtitle = subtitles[$rootScope.view];
                                                }
                                            );
                                    }
                                    $scope.update = function() {
                                        data = [];
                                        query = {};
                                        console.log("update...");
                                        for (var i=0; i<$scope.conf.columns.length; i++) {
                                            data.push($scope.conf.columns[i].id);
                                            if ($scope.conf.columns[i].isPrimaryKey) {
                                                query[$scope.conf.columns[i].id] = $scope.row[$scope.conf.columns[i].index];
                                            }
                                        }
                                        //url = "./detail.jsp?table=" + $scope.conf.table + "&data=" + JSON.stringify(data) + "&query=" + JSON.stringify(query) + "&begin=1&end=1";
                                        url = "./detail.json"
                                        console.log("url" + url);
                                        $scope.disabled = true;
                                        $http.get(url).success(
                                            function(response) {
                                                $scope.disabled = false;
                                                $rootScope.detailcontent = response.data[0];
                                                $rootScope.view = 2;
                                                $rootScope.subtitle = subtitles[$rootScope.view];
                                                }
                                            );
                                    }
                                    $scope.delete = function() {
                                        query = {};
                                        console.log("delete...");
                                        for (var i=0; i<$scope.conf.columns.length; i++) {
                                            if ($scope.conf.columns[i].isPrimaryKey) {
                                                query[$scope.conf.columns[i].id] = $scope.row[$scope.conf.columns[i].index];
                                            }
                                        }
                                        //url = "./delete.jsp?table=" + $scope.conf.table +  "&query=" + JSON.stringify(query);
                                        url = "./OK.json"
                                        console.log("url" + url);
                                        $scope.disabled = true;
                                        $http.get(url).success(
                                            function(response) {
                                                $scope.disabled = false;
                                                }
                                            );
                                    }
                                }
                            )
                        </script>
                    </table>
                </div>
                <div id="listcontrol" ng-show="queryurl" ng-controller="listcontrol">
                    <button ng-disabled="disabled" ng-click="prev()">PREV</button>
                    <button ng-disabled="disabled" ng-click="next()">NEXT</button>
                    <input type=text ng-disabled="disabled" ng-change="change()" ng-model="page">
                    <button ng-disabled="disabled" ng-show="cango" ng-click="go()">GO</button>
                </div>
                <script>
                    app.controller(
                        "listcontrol", 
                        function($scope, $rootScope, $http) {
                            $scope.prev = function() {
                                if (($rootScope.cursor - $scope.conf.count) < 0) {
                                    $rootScope.cursor = 0;
                                }
                                else {
                                    $rootScope.cursor -= $scope.conf.count;
                                }
                                //range = "&begin=" + $rootScope.cursor + "&end=" + ($rootScope.cursor + $scope.conf.count);
                                range = "";
                                $http.get($scope.queryurl+range).success(
                                    function(response) {
                                        $scope.conf = response;
                                    }
                                );
                            }
                            $scope.next = function() {
                                $rootScope.cursor += $scope.conf.count;
                                //range = "&begin=" + $rootScope.cursor + "&end=" + ($rootScope.cursor + $scope.conf.count);
                                range = "";
                                $http.get($scope.queryurl+range).success(
                                    function(response) {
                                        $scope.conf = response;
                                    }
                                );
                            }
                            $scope.go = function() {
                                $rootScope.cursor = ($scope.page-1) * $scope.conf.count;
                                //range = "&begin=" + $rootScope.cursor + "&end=" + ($rootScope.cursor + $scope.conf.count);
                                range = "";
                                $http.get($scope.queryurl+range).success(
                                    function(response) {
                                        $scope.conf = response;
                                    }
                                );
                            }
                            $scope.change = function() {
                                if (Math.floor($scope.page) == $scope.page && $scope.page > 0) {
                                    $scope.cango = true;
                                }
                                else {
                                    $scope.cango = false;
                                }
                            }
                        }
                    );
                </script>
            </div>
            <div id="detail" ng-show="view>0" ng-controller="detail">
                <table>
                    <tr ng-repeat="column in conf.columns" ng-controller="detailcontentrow">
                        <td>{{ column.name }}</td>
                        <td>
                            <input type=text ng-show="column.control==0" ng-disabled="disabled || view < 2 || (view == 2 && column.isPrimaryKey)" ng-model="detailcontent[column.index]">
                            <input type=radio ng-show="column.control==1" ng-disabled="disabled || view < 2 || (view == 2 && column.isPrimaryKey)" ng-model="detailcontent[column.index]">
                            <select ng-show="column.control==2" ng-disabled="disabled || view == 1 || (view == 2 && column.isPrimaryKey)" ng-options="c.key as c.value for c in column.range" ng-model=detailcontent[column.index]>
                            <label>{{ errmsg }}</label>
                        </td>
                    </tr>
                    <script>
                        app.controller(
                            "detailcontentrow", 
                            function($scope, $rootScope, $http) {
                                // TODO check
                            }
                        );
                    </script>
                    <tr>
                        <td><button ng-disabled="disabled" ng-click="back()">RETURN</button></td>
                        <td><button ng-show="view > 1" ng-disabled="disabled" ng-click="commit()">COMMIT</button></td>
                    </tr>
                </table>
            </div>
            <script>
                app.controller(
                    "detail", 
                    function($scope, $rootScope, $http) {
                        $scope.back = function() {
                            $rootScope.view = 0;
                            $rootScope.subtitle = subtitles[$scope.view];
                        }
                        // TODO commit
                    }
                );
            </script>
        </div>
        <script>
            app.controller(
                "main", 
                function($scope, $rootScope, $http) {
                    $http.get("./table.json").success(
                        function(response) {
                            $rootScope.conf = response;
                            $rootScope.view = 0;
                            $rootScope.subtitle = subtitles[$scope.view];
                            $rootScope.cursor = 0;
                            $rootScope.candidate = {};
                            for (var i=0; i<$rootScope.conf.columns.length; i++) {
                                if ($rootScope.conf.columns[i].control == 2) {
                                    c = {};
                                    for (var j=0; j<$rootScope.conf.columns[i].range.length; j++) {
                                        c[$rootScope.conf.columns[i].range[j].key] = $rootScope.conf.columns[i].range[j].value;
                                    }
                                    $rootScope.candidate[$rootScope.conf.columns[i].id] = c;
                                }
                            }
                        }
                    );
                }
            );
        </script>
    </body>
</html>
