<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="./angular.min.js"></script> 
        <script src="./easyconf.js"></script> 
    </head>
    <body>
        <div id="main" ng-show="easyconf.isInit" ng-app="admin" ng-controller="main">
            <script>
                var app = angular.module("admin", []);
                // table definition
                var table = "test";
            </script>
            <div ng-cloak id="listtitle">
                <h1>{{ easyconf.conf.title }} {{ easyconf.getSubTitle() }}</h1>
            </div>
            <div id="list" ng-show="easyconf.isListView()">
                <div id="listquery" ng-controller="listquery">
                    <table>
                        <tr ng-repeat="column in easyconf.conf.columns" ng-show="column.isSelect">
                            <td ng-cloak>{{ column.name }}</td>
                            <td><input type=text ng-disabled="easyconf.disabled" ng-model="query[column.id]"></td>
                        </tr>
                        <tr>
                            <td><button ng-disabled="easyconf.disabled" ng-click="search()">SEARCH</button></td>
                            <td><button ng-disabled="easyconf.disabled" ng-click="insert()">INSERT</button></td>
                        </tr>
                    </table>
                </div>
                <script>
                    app.controller(
                        "listquery",
                        function($scope, $http) {
                            $scope.query = {};
                            $scope.search = function() {
                                console.log("search...");
                                data = easyconf.getShowCol();
                                url = easyconf.formatListHomeUrl(data, $scope.query);
                                url = "./list.json";
                                console.log("[url]" + url);
                                easyconf.lock();
                                $http.get(url).success(
                                    function(response) {
                                        easyconf.setListContent(response.data);
                                        easyconf.unLock();
                                    }
                                );
                            }
                            $scope.insert = function() {
                                easyconf.detailContent = {};
                                easyconf.keyContent = {};
                                easyconf.view = 3; // INSERT
                                easyconf.allCheck();
                            }
                        }
                    )
                </script>
                <div id="listContent">
                    <table>
                        <tr>
                            <td ng-cloak ng-repeat="column in easyconf.conf.columns" ng-show="column.isShow">
                                {{ column.name }}
                            </td>
                            <td>
                            OPERARION
                            </td>
                        </tr>
                        <tr id = "listContentRow" ng-repeat="row in easyconf.listContent" ng-controller="listContentRow">
                            <td ng-cloak ng-repeat="column in easyconf.conf.columns" ng-show="column.isShow">
                                {{ easyconf.formatListContent(row, column) }}
                            </td>
                            <td>
                                <button ng-disabled="easyconf.disabled" ng-click="detail()">DETAIL</button>
                                <button ng-disabled="easyconf.disabled" ng-click="update()">UPDATE</button>
                                <button ng-disabled="easyconf.disabled" ng-click="delete()">DELETE</button>
                            </td>
                        </tr>
                        <script>
                            app.controller(
                                "listContentRow",
                                function($scope, $http) {
                                    detail = function(view) {
                                        query = easyconf.getPKV($scope.row);
                                        url = easyconf.formatDetailUrl(query);
                                        url = "./detail.json"
                                        console.log("[url]" + url);
                                        easyconf.lock();
                                        $http.get(url).success(
                                            function(response) {
                                                easyconf.setDetailContent(response.data);
                                                easyconf.view = view; 
                                                if (view == 2) {
                                                    easyconf.allCheck();
                                                }
                                                easyconf.unLock();
                                            }
                                        );
                                    }
                                    $scope.detail = function() {
                                        console.log("detail...");
                                        detail(1);
                                    }
                                    $scope.update = function() {
                                        console.log("update...");
                                        detail(2);
                                    }
                                    $scope.delete = function() {
                                        console.log("delete...");
                                        query = easyconf.getPKV($scope.row);
                                        url = easyconf.formatDeleteUrl(query);
                                        url = "./OK.json"
                                        console.log("[url]" + url);
                                        easyconf.lock();
                                        $http.get(url).success(
                                            function(response) {
                                                easyconf.fresh();
                                                easyconf.unLock();
                                            }
                                        );
                                    }
                                }
                            )
                        </script>
                    </table>
                </div>
                <div id="listcontrol" ng-show="easyconf.isSearched()" ng-controller="listcontrol">
                    <span ng-cloak>{{ easyconf.getCurPage() }}</span>
                    <button ng-disabled="easyconf.disabled" ng-click="fresh()">FRESH</button>
                    <button ng-disabled="easyconf.disabled" ng-click="prev()">PREV</button>
                    <button ng-disabled="easyconf.disabled" ng-click="next()">NEXT</button>
                    <input type=text ng-disabled="easyconf.disabled" ng-model="page">
                    <button ng-disabled="easyconf.disabled || !easyconf.isPstInt(page)" ng-click="go()">GO</button>
                </div>
                <script>
                    app.controller(
                        "listcontrol", 
                        function($scope, $http) {
                            jump = function() {
                                url = easyconf.formatListNewUrl()
                                url = "./list.json";
                                console.log("[url]" + url);
                                easyconf.lock();
                                $http.get(url).success(
                                    function(response) {
                                        easyconf.setListContent(response.data);
                                        easyconf.unLock();
                                    }
                                );
                            }
                            $scope.prev = function() {
                                console.log("prev...");
                                easyconf.setPrevCursor();
                                jump();
                            }
                            $scope.next = function() {
                                console.log("next...");
                                easyconf.setNextCursor();
                                jump();
                            }
                            $scope.go = function() {
                                console.log("go...");
                                easyconf.setGoCursor($scope.page);
                                jump();
                            }
                            $scope.fresh = function() {
                                console.log("fresh...");
                                jump();
                            }
                            easyconf.fresh = $scope.fresh;
                        }
                    );
                </script>
            </div>
            <div id="detail" ng-show="!easyconf.isListView()" ng-controller="detail">
                <table>
                    <tr ng-repeat="column in easyconf.conf.columns" ng-controller="detailContentRow">
                        <td ng-cloak>{{ column.name }}</td>
                        <td>
                            <input type=text ng-if="easyconf.isColText(column)" ng-disabled="easyconf.disabled || easyconf.isDetailDisable(column)" ng-change="change()" ng-model="easyconf.detailContent[column.id]">
                            <input type=radio ng-if="easyconf.isColRadio(column)" ng-disabled="easyconf.disabled || easyconf.isDetailDisable(column)" ng-change="change()" ng-model="easyconf.detailContent[column.id]">
                            <select ng-if="easyconf.isColCbox(column)" ng-disabled="easyconf.disabled || easyconf.isDetailDisable(column)" ng-focus="focus()" ng-change="change()" ng-options="c.key as c.value for c in easyconf.range[column.id]" ng-model=easyconf.detailContent[column.id]>
                        </td>
                        <td ng-cloak ng-show="easyconf.isMsgShow()">
                            {{ easyconf.errmsg[column.id] }}
                        </td>
                    </tr>
                    <script>
                        app.controller(
                            "detailContentRow", 
                            function($scope, $http) {
                                $scope.change = function() {
                                    //should be the last check
                                    if($scope.column.isPrimaryKey && !easyconf.checkUnique()) {
                                        return false;
                                    }
                                    if (easyconf.isBlank($scope.column)) {
                                        if (!easyconf.checkNull($scope.column)) {
                                            return false;
                                        }
                                    }
                                    else {
                                        if(!easyconf.checkType($scope.column)) {
                                            return false;
                                        }

                                        if(!easyconf.checkControl($scope.column)) {
                                            return false;
                                        }


                                        if(!easyconf.selfCheck($scope.column)) {
                                            return false;
                                        }


                                    }
                                    easyconf.setOK($scope.column);
                                    return true;
                                }
                                easyconf.check[$scope.column.id] = $scope.change;
                                $scope.focus = function() {
                                    if (easyconf.isColFlexible($scope.column)) {
                                        url = easyconf.formatRangeUrl($scope.column);
                                        url = "./range.json"
                                        console.log("[url]" + url);
                                        easyconf.lock();
                                        $http.get(url).success(
                                            function(response) {
                                                easyconf.range[$scope.column.id] = response.data;
                                                easyconf.unLock();
                                            }
                                        );
                                    }
                                }
                            }
                        );
                    </script>
                    <tr>
                        <td><button ng-disabled="easyconf.disabled" ng-click="back()">RETURN</button></td>
                        <td><button ng-show="easyconf.isCommitShow()" ng-disabled="easyconf.disabled || !easyconf.allOK()" ng-click="commit()">COMMIT</button></td>
                    </tr>
                </table>
            </div>
            <script>
                app.controller(
                    "detail", 
                    function($scope, $rootScope, $http) {
                        $scope.back = function() {
                            easyconf.view = 0; //LIST
                            easyconf.fresh();
                        }
                        $scope.commit = function() {
                            query = easyconf.getDetailPKV();
                            if (easyconf.isUpdateView()) {
                                url = easyconf.formatUpdateUrl(query);
                            }
                            else if (easyconf.isInsertView()) {
                                url = easyconf.formatInsertUrl();
                            }
                            //url = "./OK.json"
                            url = "./NU.json"
                            console.log("[url]" + url);
                            easyconf.lock();
                            $http.get(url).success(
                                function(response) {
                                    if (response.result == "00") {
                                        if (easyconf.isInsertView()) {
                                            easyconf.detailContent = {};
                                            easyconf.keyContent = {};
                                        }
                                    }
                                    else if (response.result == "01") {
                                        if (easyconf.isInsertView()) {
                                            easyconf.setPrimaryKeyContent();
                                            easyconf.setUniqueError();
                                        }
                                    }
                                    easyconf.unLock();
                                }
                            );
                        }
                    }
                );
            </script>
        </div>
        <script>
            easyconf.init();
            app.controller(
                "main", 
                function($scope, $http) {
                    $scope.easyconf = easyconf;
                    url = easyconf.formatInitUrl(table);
                    url = "./init.json";
                    $http.get(url).success(
                        function(response) {
                            easyconf.conf = response;
                            easyconf.setCandidateAndRange();
                            easyconf.isInit = true;
                        }
                    );
                }
            );
        </script>
    </body>
</html>
